body, html, .container {
    width: 100%;
    height: 100%;
    font-family: 'Gentium Basic', serif;
}

div#map { width: 100%; height: 72%; }

h1, h2, h3, h4, .locationList {
    // font-family: 'Gentium Basic', serif;
}

h1.title, h2.title {
    padding: 6px;
    margin-left: 8px;
}

div.surround {
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 1000;
}

div#header {
    height: 8%;
    top: 0;
    -webkit-box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 3px 6px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 3px 6px rgba(50, 50, 50, 0.4);
}

div#barWrapper {
    -webkit-box-shadow: 0px -3px 6px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px -3px 6px rgba(50, 50, 50, 0.4);
    box-shadow:         0px -3px 6px rgba(50, 50, 50, 0.4);
    height: 18%;
    overflow-y: scroll;
    bottom: 0;
}

div#bars {
    padding: 6px;
    margin-left: 10px;
}

div.leaflet-popup-content { overflow: auto; }
div.leaflet-popup-content p { margin: 2px 0; }

div.customPopup { float:right; width:70%;}
img.img-circle { float:left; margin-top:15px;}

span.locationList {
    display: inline-block;
    margin-right: 12px;
    font-size: 16px;
}

span.locationList:hover { background-color: rgba(209, 209, 209, 0.8); }

p.date {
    margin: 0;
}

h3 {
    line-height: 26px;
}

h6 {
    line-height: 16px;
}
